.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.resetButton{
    padding: 20px;
    margin-top: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
}

.row {
    flex: 1;
    display: flex;
}

.block{
    flex: 1;
    min-width: 1px;
    aspect-ratio: 1/1;
    background-color: red;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}